*{ font-family:Arial, Helvetica, sans-serif;
    
}

header{
background-color: #4a90e2;
text-align: center;
padding: 1rem;
}

.TablaDiccionario{
    justify-items: center;
    margin: 5rem;
    padding: 1rem;
}

table, td{
    font-size: larger;
    border: 1px solid black ;
    border-collapse: collapse;
    padding-left: 2rem; 
    padding-right: 2rem;
}

td:hover{
    background-color: aqua;
}